-extends 'tsiahpng/layouts/base.pug'
-load i18n
-load sass_tags

block extra_head
  link(href="{% sass_src 'tsiahpng/css/order.scss' %}", rel='stylesheet', type='text/css')

block content
  //- breadcrumb
  include tsiahpng/includes/breadcrumb.pug

  //- messages
  include tsiahpng/includes/messages.pug

  //- order list
  .ui.rimless.vertical.segment
    .ui.grid
      {% for order in orders %}
      include tsiahpng/order/includes/order_card.pug
      {% endfor %}

  //- paginator
  -with paginator=orders
    include tsiahpng/includes/pagination.pug
