-load i18n

//- readable name
.field
  label {% trans 'Order alias' %}
  input(type='text', name='name')

//- shop
.required.field
  label {% trans 'Shop' %}
  .ui.selection.dropdown
    | <input type="hidden" name="shop"{% if last_shop %} value="{{ last_shop }}"{% endif %}>
    i.dropdown.icon
    .default.text {% trans 'Select shop' %}
    .menu
      -for shop in shops
        .item(data-value='{{ shop.id }}') {{ shop }}

//- date
.required.field
  label {% trans 'Order date' %}
  .ui.calendar
    .ui.input.left.icon
      i.calendar.alternate.outline.icon
      input(type='text', name='date', value="{{ default_date | date:'Y/n/j' }}")

//- note
.field
  label {% trans 'Note' %}
  textarea(name='note')
  .hint {% blocktrans %}You can warp text by *stars* to <em>emphasize</em> it, **double stars** to make it <strong>bolder</strong> and ~~tilde~~ to <strike>delete</strike> it.{% endblocktrans %}


//- submit
.ui.primary.submit.button {% trans 'Submit' %}
.ui.reset.button {% trans 'Reset' %}

.ui.error.message
