{% extends 'basic_wide.html' %}
{% load i18n %}
{% load humanize %}
{% load static %}
{% load readability %}

{% block __css__ %}
<link rel="stylesheet" type="text/css" href="{% static 'css/transactions.css' %}">
{% endblock %}

{% block __js__ %}
<script type="text/javascript" src="{% static 'js/external/tablesort.js' %}"></script>
<script type="text/javascript" src="{% static 'js/account/detail.js' %}"></script>
{% endblock %}

{% block content %}
<div class="ui vertical segment">
    <div class="ui breadcrumb">
        <a class="section" href="{% url 'homepage' %}">{% trans 'Tsia̍h-Pn̄g' %}</a>
        <div class="divider"> / </div>
        <a class="section" href="{% url 'account:list' %}">{% trans 'Accounting' %}</a>
        <div class="divider"> / </div>
        <div class="active section">{{ title }}</div>
    </div>
</div><!-- ./breadcrumb -->

{% if success_message %}
<div class="ui vertical segment">
    <div class="ui success message">
        {% for message in success_message %}{{ message | linebreaks }}{% endfor %}
    </div>
</div><!-- ./success_message -->
{% endif %}

{% if passbook.note %}
<div class="ui vertical segment">
    {{ passbook.note | linebreaks }}
</div><!-- note -->
{% endif %}

<div class="ui vertical segment">
    <h2 class="ui header">{% trans 'Personal balance' %}</h2>

    <table class="ui very basic table">
        <thead>
            <tr>
                <th>{% trans 'User' %}</th>
                <th>{% trans 'Balance' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for user, balance in user_balances %}
            <tr>
                <td>{{ user | to_username}}</td>
                <td {% if balance < 0 %}class="negative" {% endif %}>${{ balance | intcomma }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div><!-- ./balance -->
{% endblock %}

{% block wide_content %}
<div class="ui text container">
    <h2 class="ui header">{% trans 'Transactions' %}</h2>
</div>

<table class="ui sortable fixed table">
    <thead>
        <tr>
            <th class="three wide">{% trans 'Time' %}</th>
            <th class="five wide">{% trans 'Item' %}</th>
            {% for user in active_users %}
            <th>{{ user | to_username }}</th>
            {% endfor %}
            <th>{% trans 'Subtotal' %}</th>
        </tr>
    </thead>
    <tbody>
        {% for event, balances in transaction_table %}
        <tr>
            <td>
                {{ event.creation | date:'Y/m/d(D)' }}
                <time>{{ event.creation | date:'G:i' }}</time>
            </td>
            <td>{{ event }}{% if event.related_order %}
                <br />
                <small>
                    {% trans 'Related to: ' %}
                    <a href="{% url 'order_detail' event.related_order.id %}">
                        {{ event.related_order }}
                    </a>
                </small>
                {% endif %}</td>
            {% for balance in balances %}
            <td data-sort-value="{% if balance %}{{ balance }}{% endif %}">{% if balance %}{{ balance | intcomma }}{% endif %}</td>
            {% endfor %}
            {% with event_balance=event.balance %}
            <td class="total" data-sort-value="{{ event_balance }}">{{ event_balance | intcomma }}</td>
            {% endwith %}
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr class="right aligned">
            <th colspan="2">{% trans 'Total' %}</th>
            {% for balance in balances %}
            <th {% if balance < 0 %}class="negative" {% endif %}>${{ balance | intcomma }}</th>
            {% endfor %}
            {% with balance=passbook.balance %}
            <th class="total {% if balance < 0 %}negative{% endif %}">${{ balance | intcomma }}</th>
            {% endwith %}
        </tr>
    </tfoot>
</table><!-- ./balance sheet -->
{% endblock %}

{% block after_footer %}
<div class="floating action buttons">
    <a class="ui huge circular green icon button" href="{% url 'account:add' passbook.id %}" data-tooltip="{% trans 'Add transaction' %}"
        data-position="left center">
        <i class="plus icon"></i>
    </a>
</div>
{% endblock %}
