.sortable.table td:nth-child(1n+3) {
    text-align: right;
}

.sortable.table div.hint {
    display: none;
}

.sortable.table tfoot th.negative {
    color: #9f3a38;
}

.sortable.table .total {
    font-weight: 700;
}

@media screen and (max-width: 991px) {
    .sortable.table td time {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .sortable.table td:nth-child(1n+3),
    .sortable.table tfoot th {
        text-align: left;
    }
    .sortable.table div.hint {
        display: inline-block;
        width: 20%;
        color: rgba(0, 0, 0, .6);
    }
}
