-load static
script(type='text/javascript', src="{% static 'js/jquery-3.3.1.min.js' %}")
script(type='text/javascript', src="{% static 'semantic/semantic.min.js' %}")
script(type='text/javascript', src="{% url 'tsiahpng:javascript-catalog' %}")
