-load static
script(type='text/javascript', src="{% static 'tsiahpng/js/lib/jquery-3.3.1.min.js' %}")
script(type='text/javascript', src="{% static 'semantic/semantic.min.js' %}")
script(type='text/javascript', src="{% url 'tsiahpng:javascript-catalog' %}")
script(type='text/javascript', src="{% static 'tsiahpng/js/global/navbar.js' %}")
