{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block __meta__ %}
<title>{% trans 'Tsia̍h-Pn̄g' %}</title>
{% endblock %}

{% block __css__ %}
<link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}">
{% endblock %}

{% block body %}
{% include 'navbar.html' %}
<div class="ui vertical teal inverted head segment center aligned">
    <div class="ui container">
        <h1 class="ui header">{% trans 'Welcome!' %}</h1>
        <p>{% trans "I'm hungry" %}</p>
    </div>
</div>

<div class="ui vertical segment">
    <div class="ui text container">
        {% with upcoming_count=upcoming_orders|length %}
        {% if upcoming_count > 1 %}
        <!-- link to all quick ordering form -->
        <div class="ui vertical segment">
            <h2 class="ui header">{% blocktrans %}{{ upcoming_count }} upcoming orders{% endblocktrans %}</h2>

            <div class="ui quick secondary fluid vertical menu">
                {% for order in upcoming_orders %}
                <a class="item" href="#order-{{ order.id }}">
                    {{ order }}
                </a>
                {% endfor %}
            </div><!-- ./menu -->

            <script type="text/javascript" src="{% static 'js/homepage-scroll.js' %}"></script>
        </div><!-- ./link to all quick ordering form -->
        {% endif %}{% endwith %}

        {% for order in upcoming_orders %}
        <!-- loop item: an upcoming order -->
        <div class="ui vertical segment">
            <h2 class="ui header" id="order-{{ order.id }}">
                <i class="clipboard list icon"></i>
                <div class="content">
                    <a href="{% url 'order_detail' order.id %}">{{ order }}</a>
                    {% with date=order.order_date_short shop=order.shop %}
                    <div class="sub header">{% blocktrans %}Ordering {{ shop }} on {{ date }}{% endblocktrans %}</div>
                    {% endwith %}
                </div>
            </h2>

            {% if order.note %}
            {{ order.note | linebreaks }}
            {% endif %}
        </div>

        <div class="ui vertical segment">
            {% include 'order/shop_info_card.html' %}
        </div>

        <div class="ui vertical segment">
            {% with products=order.shop.products %}
            {% include 'order/order_form.html' %}
            {% endwith %}
        </div><!-- ./loop item: an upcoming order -->
        {% empty %}
        <div class="ui vertical segment">
            <p>{% trans 'No available orders' %}</p>
        </div>
        {% endfor %}

        {% if opened_orders %}
        <!-- all opened orders -->
        <div class="ui vertical segment">
            <h2 class="ui header">{% trans 'All Available Orders' %}</h2>

            <div class="ui secondary fluid vertical menu">
                {% for order in opened_orders %}
                <a class="item" href="{% url 'order_detail' order.id %}">
                    {{ order }}
                </a>
                {% endfor %}
            </div>
        </div><!-- ./all opened orders -->
        {% endif %}

    </div>
</div>

<div class="ui vertical foot segment">
    {% include 'footer.html' %}
</div>
{% endblock %}
