.ordering.form {
    .field {
        .inline {
            display: inline-block;
        }

        .extra {
            float: right;
        }
    }

    .product.dropdown {
        .price {
            padding-left: .6rem;
        }
    }

    tr.hint {
        color: rgba(0, 0, 0, .6);
        font-style: oblique;
    }
}
