.user.dropdown {

    // list item
    .menu {
        .extra {
            float: right;
            color: rgba(0, 0, 0, .6);
        }
    }

    // selected label
    .text,
    .ui.label {
        .extra {
            display: none;
        }
    }
}
