.ui.head.segment {
    padding: 8em 0 11em 0;

    h1 {
        font-size: 5em;
        color: #ffffff;
    }

    p {
        color: rgba(255, 255, 255, .7);
    }

    @media screen and (max-width: 768px) {
        padding: 3em 0 5em 0;
    }
}

.shop.segment {
    .header {
        img {
            background-color: #42ADFF;
        }

        .sub.header {
            margin-top: .5em;
        }
    }
}

@import 'order_form';
@import 'recent_order';
