.ui.card {
    .green.extra.content {
        background-color: #21ba45;
        color: #ffffff;
    }
}

.description.segment {
    i.icon {
        min-width: 1.6rem;
    }

    span {
        border-bottom: 1px dashed #000;
        text-decoration: none;
    }
}

.summary.table {
    .hint {
        color: rgba(0, 0, 0, .6);
        font-style: oblique;
    }
}

@import 'order_form'
