-load i18n
//- who am i
.required.field
  label {% trans 'Who am I' %}
  .ui.user.search.selection.dropdown
    | <input type="hidden" name="user"{% if last_user %} value="{{ last_user }}"{% endif %}>
    i.dropdown.icon
    .default.text {% trans 'who' %}
    .menu

//- item selection
.required.field
  label(class='inline') {% trans 'Wanna...' %}

  if order.shop.changeable
    .extra
      a(href="{% url 'tsiahpng:shop_add_product' order.shop.id %}") {% trans 'Add product' %}

  .ui.product.multiple.search.selection.dropdown
    input(type='hidden', name='items')
    i.dropdown.icon
    .default.text {% trans 'select item' %}
    .menu
      for product in order.shop.products
        include ./item_product.pug

//- placeholder for tickets
table.ui.table
  thead
    tr
      th.four.wide {% trans 'Item' %}
      th.two.wide {% trans 'Quantity' %}
      th.three.wide {% trans 'Price' %}
      th.seven.wide {% trans 'Note' %}
  tbody
    tr.hint
      td.center.aligned(colspan='4') {% trans 'No tickets' %}

//- error message (local)
.ui.error.message

//- submit
.ui.primary.submit.button {% trans 'Submit' %}
.ui.reset.button {% trans 'Reset' %}
