{% extends 'basic.html' %}
{% load i18n %}
{% load humanize %}

{% block content %}

{% if shop.image %}
<div class="ui vertical segment">
    <a href="{{ shop.image.url }}" target="_blank">
        <img class="ui fluid rounded image" src="{{ shop.image.url }}">
    </a>
</div>
{% endif %}

{% if shop.note %}
<div class="ui vertical segment">
    {{ shop.note | linebreaks }}
</div>
{% endif %}

<div class="ui second secondary menu" id="category-menu">
    {% for category, _ in menu %}
    <a class="item" href="#{{ category }}">{{ category }}</a>
    {% endfor %}
    <div class="right menu">
        <div class="item">
            <a class="ui green labeled icon button" href="{% url 'menu_add' shop.id %}">
                <i class="plus icon"></i>
                {% trans 'Add product' %}
            </a>
        </div>
    </div>
</div><!-- ./category menu -->

{% for category, products in menu %}
<div class="ui vertical segment">
    <h2 class="ui header" id="{{ category }}">{{ category }}</h2>

    <div class="ui stackable three column grid">
        {% for product in products %}
        <div class="column">
            {{ product }}
            <small class="price">${{ product.price | intcomma }}</small>
        </div>
        {% endfor %}
    </div>
</div>
{% endfor %}

<script>
    $('#category-menu').sticky({
        offset: 39,
    });
</script>
{% endblock %}
