{% extends 'basic.html' %}
{% load i18n %}

{% block content %}
<div class="ui vertical segment">
    <div class="ui breadcrumb">
        <a class="section" href="{% url 'homepage' %}">{% trans 'Tsia̍h-Pn̄g' %}</a>
        <div class="divider"> / </div>
        <div class="active section">{{ title }}</div>
    </div>
</div>

<div class="ui items">
    {% for shop, desc in shops %}
    <div class="item">

        {% if shop.image %}
        <div class="image">
            <img src="{{ shop.image.url }}">
        </div>
        {% endif %}

        <div class="content">
            <a class="header" href="{% url 'menu_detail' shop.id %}">{{ shop }}</a>

            <div class="meta">
                <span>{{ desc }}</span>
            </div>

            {% if shop.note %}
            <div class="description">
                <p>{{ shop.note }}</p>
            </div>
            {% endif %}

            <div class="extra">

                {% if shop.image %}
                <div class="ui blue label">
                    <a href="{{ shop.image.url }}" target="_blank">
                        <i class="image icon"></i> {% trans 'Large menu picture' %}
                    </a>
                </div>
                {% endif %}

                <div class="ui label">
                    <a href="{% url 'menu_detail' shop.id %}">
                        <i class="linkify icon"></i> {% trans 'Menu details' %}
                    </a>
                </div>

                <div class="ui green label">
                    <a href="{% url 'menu_add' shop.id %}">
                        <i class="plus icon"></i> {% trans 'Add product' %}
                    </a>
                </div>

            </div>
        </div>
    </div>
    {% empty %}
    <div class="item">
        <div class="content">
            <div class="header">{% trans 'No shop data' %}</div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
