!!! 5
html
  head
    include tsiahpng/includes/head.pug
    block extra_head

  body
    include tsiahpng/includes/nav.pug

    block main
      p main block.

    .ui.vertical.footer.segment
      include tsiahpng/includes/footer.pug

    include tsiahpng/includes/js.pug
    block extra_scripts
