-extends 'tsiahpng/layouts/base.pug'
-load i18n

block extra_head
  title {% if title %}{{ title }}{% else %}{% trans 'Untitled Page' %}{% endif %} | {% trans 'Tsia̍h-Pn̄g' %}

block body
  include tsiahpng/includes/nav.pug

  .ui.vertical.head.segment
    .ui.container
      h1.ui.header {% if title %}{{ title }}{% else %}{% trans 'Untitled Page' %}{% endif %}

  .ui.vertical.main.segment
    .ui.container
      block content
        p hello content!

  .ui.vertical.footer.segment
    include tsiahpng/includes/footer.pug

  include tsiahpng/includes/js.pug
  block extra_scripts
