-extends 'tsiahpng/layouts/base.pug'
-load i18n

block main
  .ui.vertical.head.segment
    .ui.container
      h1.ui.header {% if title %}{{ title }}{% else %}{% trans 'Untitled Page' %}{% endif %}

  .ui.vertical.main.segment
    .ui.container
      block content
        p hello content!
