{% extends 'basic.html' %}
{% load i18n %}
{% load static %}

{% block __js__ %}
<script type="text/javascript" src="{% static 'js/order/close.js' %}"></script>
<script type="text/javascript">
    var user_query_url = "{% url 'api:users' %}";
    var order_query_url = "{% url 'api:order_detail' order.id %}";
    var passbook_query_url = "{% url 'api:passbooks' %}";
</script>
{% endblock %}

{% block content %}
<div class="ui vertical segment">
    <div class="ui breadcrumb">
        <a class="section" href="{% url 'homepage' %}">{% trans 'Tsia̍h-Pn̄g' %}</a>
        <div class="divider"> / </div>
        <a class="section" href="{% url 'order_list' %}">{% trans 'Order History' %}</a>
        <div class="divider"> / </div>
        <a class="section" href="{% url 'order_detail' order.id %}">{{ order }}</a>
        <div class="divider"> / </div>
        <div class="active section">{% trans 'Close order' %}</div>
    </div>
</div><!-- ./breadcrumb -->

{% include 'respond_message.html' %}

<div class="ui vertical segment">
    <form class="ui form" method="POST">

        {% csrf_token %}
        <input type="hidden" name="close" value="1">

        <div class="ui vertical segment">
            <p>{% blocktrans %}Are you sure you want to close the order “{{ order }}”?{% endblocktrans %}</p>
        </div>

        <div class="ui vertical segment">
            <div class="field">
                <div class="ui toggle checkbox" id="switch-account">
                    <input type="checkbox" name="link-account" tabindex="0" class="hidden">
                    <label>{% trans 'Also put this order on the bill' %}</label>
                </div>
            </div>
        </div><!-- ./switch -->

        <div id="account-panel" class="ui vertical hidden segment">

            <input type="hidden" name="title" value="{{ order }}">
            <input type="hidden" name="order" value="{{ order.id }}">
            <input type="hidden" name="user">

            <div class="required field">
                <label>{% trans 'Passbook' %}</label>
                <div class="ui search selection dropdown" id="select-passbook">
                    <input type="hidden" name="passbook" {% if last_passbook %}value="{{ last_passbook }}"{% endif %}>
                    <i class="dropdown icon"></i>
                    <div class="default text">{% trans 'select passbook' %}</div>
                    <div class="menu"></div>
                </div>
            </div><!-- ./select passbook -->

            <table id="user-balance" class="ui table">
                <thead>
                    <tr>
                        <th class="four wide">{% trans 'User' %}</th>
                        <th class="eight wide">{% trans 'Change in balance' %}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="hint">
                        <td class="center aligned" colspan="2">{% trans 'No user' %}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th class="right aligned" colspan="2">
                            {% trans 'Total: ' %}
                            $<span id="total-balance">0</span>
                        </th>
                    </tr>
                </tfoot>
            </table><!-- ./transactions -->
        </div>

        <div class="ui error message"></div>

        <div class="ui vertical segment">
            <button type="submit" class="ui primary submit button">{% trans 'Yes' %}</button>
            <a class="ui button" href="{% url 'order_detail' order.id  %}">{% trans 'No' %}</a>
        </div>

    </form>
</div><!-- ./form -->
{% endblock %}
