{% extends 'basic.html' %}
{% load i18n %}
{% load humanize %}

{% block content %}

{% if success_message %}
<div class="ui vertical segment">
    <div class="ui success message">
        {{ success_message | linebreaks }}
    </div>
</div>
{% endif %}

{% if order.note %}
<div class="ui vertical segment">
    {{ order.note | linebreaks }}
</div>
{% endif %}

<div class="ui vertical segment">
    <ul class="ui list">
        {% with order.create_time as create_time %}
        <li>{% blocktrans %}Created on {{ create_time }}{% endblocktrans %}</li>
        {% endwith %}

        {% with order.shop as shop %}
        <li>{% blocktrans %}Ordering {{ shop }}{% endblocktrans %}</li>
        {% endwith %}

        {% with order.order_date as date %}
        <li>{% blocktrans %}Order on {{ date }}{% endblocktrans %}</li>
        {% endwith %}
    </ul>
</div>

<div class="ui vertical segment">
    {% include 'order/shop_info_card.html' %}
</div><!-- ./shop info -->

{% if order.is_open %}
<div class="ui vertical segment">
    {% include 'order/order_form.html' %}
</div>
{% endif %}

<div class="ui vertical segment">
    <h2 class="ui header">{% trans 'Order Summary' %}</h2>

    <table class="ui table">
        <thead>
            <tr>
                <th class="four wide">{% trans 'Item' %}</th>
                <th class="twelve wide">{% trans 'Quantity' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for item, desc in grouped_tickets %}
            <tr>
                <td>{{ item }}</td>
                <td>{{ desc }}</td>
            </tr>
            {% empty %}
            <tr>
                <td class="center aligned" colspan="2">{% trans 'No tickets' %}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th class="right aligned" colspan="2">
                    <strong>{% trans 'Total:' %}</strong>
                    ${{ order.total_price | intcomma }}
                </th>
            </tr>
        </tfoot>
    </table>
</div><!-- ./order summary -->

<div class="ui vertical segment">
    <h2 class="ui header">{% trans 'Personal Summary' %}</h2>

    <table class="ui table">
        <thead>
            <tr>
                <th class="three wide">{% trans 'Who' %}</th>
                <th class="ten wide">{% trans 'Item' %}</th>
                <th class="three wide">{% trans 'Subtotal' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for person, items, subtotal in person_tickets %}
            <tr>
                <td>{{ person }}</td>
                <td>{{ items }}</td>
                <td>${{ subtotal | intcomma }}</td>
            </tr>
            {% empty %}
            <tr>
                <td class="center aligned" colspan="3">{% trans 'No tickets' %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div><!-- ./personal summary -->

<div class="ui vertical segment">
    <h2 class="ui header">{% trans 'Administration' %}</h2>

    {% if summary_templates %}
    <button class="ui labeled teal icon button" id="build-summary-templates">
        <i class="clipboard list icon"></i>
        {% trans 'Build Summary String' %}
    </button>
    {% endif %}

    {% if order.is_open %}
    <a class="ui labeled red icon button" href="{% url 'order_close' order.id %}">
        <i class="lock icon"></i>
        {% trans 'Close order' %}
    </a>
    {% endif %}

</div><!-- ./administration -->

{% if summary_templates %}
<div class="ui vertical segment" id="summary-templates" style="display: none;">
    <h2 class="ui header">{% trans 'Summary String' %}</h2>

    <div class="ui form">
        <div class="field">
            <div class="ui selection dropdown" id="select-template">
                <i class="dropdown icon"></i>
                <div class="default text">{% trans 'Select Template' %}</div>
                <div class="menu">
                    {% for template in summary_templates %}
                    <div class="item" data-value="{{ template.id }}">{{ template }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="field">
            <textarea id="summary-string"></textarea>
        </div>

        <div id="summary-templates-loader" class="ui loader"></div>

        <div class="field">
            <button id="copy-button" class="ui primary button">{% trans 'Copy' %}</button>
        </div>

    </div>
</div><!-- ./summary templates -->

<script>
    $('#build-summary-templates').click(function () {
        $('#summary-templates').slideToggle();
    });

    $('#select-template').dropdown({
        onChange: function (id) {
            // disable form
            $('#select-template').addClass('disabled');
            $('#summary-string').attr('disabled', 1);

            $('#summary-templates-loader').addClass('active');

            // submit query
            $.get('{% url "api_summary_string" order.id %}?template=' + id, function (data) {
                $('#summary-string').val(data);

                $('#select-template').removeClass('disabled');
                $('#summary-string').removeAttr('disabled');
                $('#summary-templates-loader').removeClass('active');
            });
        }
    });

    $('#copy-button').click(function () {
        $('#summary-string').select();
        document.execCommand('copy');

        $(this).text('{% trans "Copied!" %}');
        setTimeout(function () { $('#copy-button').text("{% trans 'Copy' %}") }, 1500);
    });
</script>
{% endif %}

{% endblock %}
