{% load i18n %}
{% load humanize %}
{% load static %}
<form class="ui form" method="POST" action="{% url 'order_detail' order.id %}">
    <div class="ui fluid raised card">

        <div class="content">
            <h2 class="ui sub header">{% trans 'Order it!' %}</h2>
        </div>

        <div class="content">
            <!-- who -->
            <div class="required field">
                <label>{% trans 'Who am I' %}</label>

                <div class="ui user search selection dropdown">
                    <input type="hidden" name="user">
                    <i class="dropdown icon"></i>
                    <div class="default text">{% trans 'who' %}</div>
                    <div class="menu">
                        {% for user in users %}
                        <div class="item" data-value="{{ user.get_username }}">
                            {% if user.get_full_name %}
                            {{ user.get_full_name }}
                            {% else %}
                            {{ user.get_username }}
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div><!-- ./who -->

            <!-- add item -->
            <div class="field">
                <label class="inline">{% trans 'Wanna...' %}</label>
                <div class="extra" data-tooltip="{% trans 'Register the product you want to buy' %}">
                    <a href="{% url 'menu_add' order.shop.id %}">{% trans 'Add product' %}</a>
                </div>

                <div class="ui multiple search selection dropdown product" data-tooltip="{% trans 'You can select an item either from the dropdown list or by typing and search' %}">
                    <input type="hidden" name="tickets">
                    <i class="dropdown icon"></i>
                    <div class="default text">{% trans 'select item' %}</div>
                    <div class="menu">
                        {% for product in products %}
                        <div class="item" data-value="{{ product.id }}" data-price="{{ product.price }}" data-name="{{ product.name }}">
                            <div class="ui label">
                                {% if product.category %}{{ product.category }}
                                {% else %}{% trans 'Unsorted' %}
                                {% endif %}
                            </div>
                            {{ product.name }}
                            <small class="price">${{ product.price | intcomma }}</small>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div><!-- ./add item -->

            <!-- tickets -->
            <table class="ui table">
                <thead>
                    <tr>
                        <th class="four wide">{% trans 'Item' %}</th>
                        <th class="two wide">{% trans 'Quantity' %}</th>
                        <th class="three wide">{% trans 'Price' %}</th>
                        <th class="seven wide">{% trans 'Note' %}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="hint">
                        <td class="center aligned" colspan="4">{% trans 'No tickets' %}</td>
                    </tr>
                </tbody>
            </table><!-- ./tickets -->

            <div class="ui primary submit button">{% trans 'Submit' %}</div>
            <div class="ui reset button">{% trans 'Reset' %}</div>

            <div class="ui error message">
                {% if error_message %}
                <ul class="list">
                    <li>{{ error_message }}</li>
                </ul>
                {% endif %}
            </div>

        </div>
    </div>

    {% csrf_token %}

</form>

<script type="text/javascript" src="{% static 'js/order/form.js' %}"></script>
