<div class="ui items">
    <div class="item">
        {% if order.shop.image %}
        <div class="image">
            <a href="{{ order.shop.image.url }}" target="_blank">
                <img class="ui fluid rounded image" src="{{ order.shop.image.url }}">
            </a>
        </div>
        {% endif %}

        <div class="content">
            <div class="header">
                <a href="{% url 'menu_detail' order.shop.id %}">{{ order.shop }}</a>
            </div>

            {% if order.shop.note %}
            <div class="description">
                {{ order.shop.note | linebreaks }}
            </div>
            {% endif %}
        </div><!-- ./shop info content -->
    </div>
</div>
