-load i18n
//- shop
input#id_shop(type='hidden', name='shop', value='{{ shop.id }}')

//- category
.required.field
  label(for='id_category') {% trans 'Category' %}
  #id_category.ui.selection.dropdown
    input(type='hidden', name='category', value='{{ last_category }}')
    i.dropdown.icon
    .default.text {% trans 'select category' %}
    .menu
      -for category in categories
        .item(data-value='{{ category.id }}') {{ category }}
      .item(data-value='-1') {% trans 'No category' %}

//- name
.required.field
  label(for='id_name') {% trans 'Product name' %}
  input#id_name(type='text', name='name', maxlength='128', required='')

//- price
.required.field
  label(for='id_price') {% trans 'Price' %}
  input#id_price(type='number', name='price', value='{{ default_product_price }}', required='')

//- submit
.ui.primary.submit.button {% trans 'Submit' %}
.ui.reset.button {% trans 'Reset' %}

//- errors
.ui.error.message
